services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: tasks_test_db
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: .
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/tasks_test_db
      API_URL: http://api:3000
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app
      - /app/node_modules

  tests:
      image: mcr.microsoft.com/playwright:v1.58.2-noble
      working_dir: /app
      environment:
        DATABASE_URL: postgresql://postgres:postgres@db:5432/tasks_test_db
        API_URL: http://api:3000
      depends_on:
        api:
          condition: service_started
      command: sh -c "npm install && npx playwright test"
      volumes:
        - .:/app